/* HTML general */
html {
    scroll-behavior: smooth;
    /* background-image:url('../img/matrix-background.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 48px;
}

body {
    /* background-color:#272822b0; */
    font-family: 'Bangers';

    color: #fff;
    text-align: center;

    background: linear-gradient(47deg, #10425a, #6c91a3, #38abe3);
    background-size: 100% 100%;

    /* -webkit-animation: gradient-background-animation 3s ease infinite;
    -moz-animation: gradient-background-animation 3s ease infinite;
    animation: gradient-background-animation 3s ease infinite; */

}

footer {
    /* padding: 10%; */
    background-color: #e5e5e5;
    color: #7f7f7f;
}

/* Bootstrap related styles */
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.btn {
    border-radius: 50px;
    font-family: 'Marcellus SC';
}

.card img {
    /* width: 100%; */
}

.card {
    margin:2%;
    font-size:0.5rem;
    color: #000;
}

.card-footer img{
    height:40px;
    padding:5px;
}
/* Personal custom styles */
.welcome-section {
    /* padding:20%; */
    height: 50vh;
}

.welcome-message {
    /* padding: 20%; */
    font-size: 2rem;
    /* background-color: #79797991; */
    padding: 5%;
}

.about-section {
    height: 50vh;
    background-color: #e5e5e5;
    color: #7f7f7f;
}

.about-message {
    /* margin-top: 20%; */
}

.projects-section {
    /* height: 50vh; */
}

.projects-message {
    /* padding: 5%; */
}

.view-more-btn{
    font-size:2rem;
}
/* Animations */
.view-more-btn:hover .view-more-icon {
    animation-name: icon-bounce;
    animation-duration: 0.3s;
    animation-direction: normal;
    animation-timing-function: linear;
    /* animation-delay: 0.05s; */
    animation-iteration-count: infinite;
}

.view-more-btn:hover {
    animation-name: button-pop;
    animation-duration: 0.25s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    /* background-color: #a086ff; */
}



.fa-arrow-down-animated {
    animation-name: collapse-icon-animation;
    animation-duration: 0.15s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.fa-arrow-up-animated {
    animation-name: collapse-icon-animation-reverse;
    animation-duration: 0.25s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}



/* Misc/Keyframes/MediaQueries */
/* @keyframes collapse-icon-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes collapse-icon-animation-reverse {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
} */

@keyframes icon-bounce {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, 3px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}


/* @-webkit-keyframes gradient-background-animation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradient-background-animation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes gradient-background-animation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
} */

@keyframes button-pop {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

/* media queries */
/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* html{
        font-size:1.4rem;
    } */
    .view-more-btn{
        /* margin:2%; */
        font-size:1rem;    
    }
    .welcome-section{
        height:100vh;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .view-more-btn{
        margin:2%;
        font-size:0.7rem;    
    }
    .welcome-section {
        height: 100vh;
    }

    .about-section {
        height: 100vh;
    }

    .projects-section {
        /* height: 100vh; */
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}