/* HTML general */
html {
    scroll-behavior: smooth;
    /* background-image:url('../img/matrix-background.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size:2rem;
}

body {
    /* background-color:#272822b0; */
    font-family: "Helvetica";
    color: #fff;
    text-align: center;

    background: linear-gradient(338deg, #ce2828, #28c5ce, #00b62f);
    background-size: 600% 600%;

    -webkit-animation: gradient-background-animation 10s ease infinite;
    -moz-animation: gradient-background-animation 10s ease infinite;
    animation: gradient-background-animation 10s ease infinite;
}

footer {
    /* padding: 10%; */
    background-color: #e5e5e5;
    color: #7f7f7f;
}

/* Bootstrap related styles */
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

/* Personal custom styles */
.welcome-section {
    /* padding:20%; */
    height: 50vh;
}

.welcome-message {
    /* padding: 20%; */
    font-size: 2em;
}

.about-section {
    height: 50vh;
    background-color: #e5e5e56e;
    color: #7f7f7f;
}

.about-message {
    /* margin-top: 20%; */
}

.projects-section {
    height: 50vh;
}

.projects-message {
    /* padding: 5%; */
}

/* Animations */
.view-more-btn:hover .view-more-icon {
    animation-name: icon-bounce;
    animation-duration: 0.3s;
    animation-direction: normal;
    animation-timing-function: linear;
    /* animation-delay: 0.05s; */
    animation-iteration-count: infinite;
}

.fa-arrow-down-animated {
    animation-name: collapse-icon-animation;
    animation-duration: 0.15s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.fa-arrow-up-animated {
    animation-name: collapse-icon-animation-reverse;
    animation-duration: 0.25s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}



/* Misc/Keyframes/MediaQueries */
/* @keyframes collapse-icon-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes collapse-icon-animation-reverse {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
} */

@keyframes icon-bounce {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, 3px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@-webkit-keyframes gradient-background-animation {
    0% {
        background-position: 0% 14%
    }

    50% {
        background-position: 100% 87%
    }

    100% {
        background-position: 0% 14%
    }
}

@-moz-keyframes gradient-background-animation {
    0% {
        background-position: 0% 14%
    }

    50% {
        background-position: 100% 87%
    }

    100% {
        background-position: 0% 14%
    }
}

@keyframes gradient-background-animation {
    0% {
        background-position: 0% 14%
    }

    50% {
        background-position: 100% 87%
    }

    100% {
        background-position: 0% 14%
    }

}

    /* media queries */
/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .welcome-section{
        height:100vh;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}